<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Edit Admin Profile</h2>
<form action="/admin/editAdmin/{{admin._id}}" method="post" enctype="multipart/form-data" >
  <div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control" name="name" value="{{admin.name}}">
    
  </div>

  <div class="form-group">
    <label for=""> Place</label>
    <input type="text" class="form-control" name="place" value="{{admin.place}}">
    
  </div>
 
  <div class="form-group">
    <label for="">Email</label>
    <input type="email" class="form-control" name="email"value="{{admin.email}}">
  </div>
  
<div class="form-group">
              <label for="">Mobile No:</label>
              <input type="tel" class="form-control" name="phonenumber" value="{{admin.phonenumber}}">

            </div>

  
 
    <div class="form-group">
      <img src="/vendor-images/{{vendor._id}}.jpg" alt="" style="widhth:100px;height:100px" id="imgView">
    <label for="">Image</label>
    <input type="file" class="form-control" name="image" onchange="viewImage(event)">
  </div>
  


  
  <button type="submit" class="btn btn-success mt-4">Submit</button>
</form>
 </div>
        </div>
    </div>
</section>

<script>
  function viewImage(event){
    document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
  }
</script>


