    <section>
        <div class="container">
            <div class="row pl-5 ml-5">
                {{#each products}}
                <div class="col-md-4 pb-3 pl-3">
                    <div class="card" style="height: 21rem; background-color:white; border-color:gray;">
                        <img class="card-img-top"
                            src="/product-images/{{this._id}}.jpg"
                            alt="Card image cap" 
                            style="height: 8rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            
                            <p class="ml-2 text-center">Rs {{this.price}}</p>
                            <p class="ml-1 text-center">{{this.shopname}}</p>
                            <div class="row pl-2">
                                   {{#if user}}
     
                            <button onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add to cart</button>
                    {{else}}
                            <a class="btn btn-primary  ml-2" href="/login">Add to cart</a>
                     {{/if}} 
                            
                        
                    
                       <a class="btn btn-danger ml-2" href="/place-order/{{this._id}}">Buy Now</a>
                        </div>
                        </div>
                    </div>


                </div>
                {{/each}}

                
            </div>
        </div>
    </section>
