

        <section>
    <div style="width: 100%;height:480px;background-color:cornsilk">
        <section>

        <div class="container mt-5 ml-5 p-5">
            <div class="row pl-5 ml-5">
                {{#each categoriestable}}
                <div class="col-md-4  pl-5">
               <p  href="/eachCategory/{{this._id}}"  style="padding-left:3px;color: darkred; background-color:rgb(199, 133, 146);width:6rem;">     {{this.name}}</p>
                    </div>
                {{/each}}

                
            </div>
        </div>
    </section>
  <section>
        <div class="container">
            <div class="row pl-5 ml-5">
                {{#each eachVendorProducts}}
                <div class="col-md-4 pb-3 pl-3">
                    <div class="card" style="height: 24rem; background-color:white; border-color:gray;">
                        <img class="card-img-top"
                            src="/product-images/{{this._id}}.jpg"
                            alt="Card image cap" 
                            style="height: 8rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            
                            <p class="ml-2 text-center">Rs {{this.price}}</p>
                            <p class="ml-1 text-center">{{this.shopname}}</p>
                            <div class="row pl-2">
                                   {{#if user}}
     
                            <button onclick="addToCart('{{this._id}}')" class="btn btn-primary ml-2">Add to cart</button>
                    {{else}}
                            <a class="btn btn-primary ml-2" href="/login">Add to cart</a>
                     {{/if}} 
                            
                        
                    
                       <a class="btn btn-danger ml-2" href="/place-order/{{this._id}}">Buy Now</a>
                        </div>
                        </div>
                    </div>


                </div>
                {{/each}}

                
            </div>
        </div>
    </section>












