 <section>
        <div class="container mt-5 pl-5">
            <div class="row ">
                {{#each products}}
                <div class="col-md-4 mt-4">
                    <div class="card" style="height: 26rem; background-color:white; border-color:gray;">
                        <img class="card-img-top"
                            src="/product-images/{{this.product._id}}.jpg"
                            alt="Card image cap" 
                            style="height: 10rem;">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{this.product.name}}</h5>
                             <p class="ml-5">{{this.product.shopname}}</p>
                            
                            <p class="ml-5">Price:  Rs{{this.product.price}}</p>
                             <p  class="ml-5">Quantity: {{this.quantity}}</p>
                            
                        </div>
                    </div>


                </div>
                {{/each}}

                
            </div>
        </div>
    </section>